.upload-preview-container {
  display: flex;
  flex-direction: column;
  padding: 8px;
  position: relative;
}

.upload-preview-container img {
  width: 100%;
}

.upload-preview-container form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px;
}

.upload-preview-container label {
  font-size: 16px;
}

.upload-preview-container span {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.upload-preview-container span input {
  width: 100%;
}
