.navbar {
  display: flex;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 16px 32px;
}

.navbar li {
  margin: 10px;
}

.navbar .actions {
  margin-left: auto;
  display: inline-flex;
  align-items: center;
}

.upload-btn {
  margin-right: 16px;
}
