.loading-gallery-item {
  position: relative;
  width: 100%;
  height: 100%;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -16px, 0);
  }
}

.loading-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 4px;
  padding: 0 8px;
  width: 100%;

  @media screen and (width > 760px) {
    padding: 0 32px;
  }
  @media screen and (width > 1280px) {
    padding: 0 64px;
  }
}

.loading-gallery-item img {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  object-fit: cover;
}

.bouncing-loader {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 30%;
  left: 40%;
}

.bouncing-loader > div {
  width: 24px;
  height: 24px;
  margin: 3rem 0.2rem;
  background: #5f6297;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}
