.tags-input {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.tags-input ul {
  list-style: none;
  padding: 0;
  margin: 8px 0 0 0;
  display: flex;
  flex-wrap: wrap;
}

.tags-input li {
  display: inline-flex;
  background-color: #f2f2f2;
  color: #333;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  gap: 4px;
}

.tags-input input[type="text"] {
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  outline: none;
  padding: 5px;
  font-size: 14px;
}

.tags-input input[type="text"]:focus {
  outline: none;
}

.tags-input button {
  border: none;
  cursor: pointer;
  padding: 0 4px;
  font-size: 12px;
}
